<aside class="main-sidebar">
    <section class="sidebar">
        <!-- 导航页面 -->
        <ul class="sidebar-menu">


            <li class="active treeview">
                <a href="/Admin/index/index.html">
                    <i class="fa fa-dashboard"></i> <span>后台首页</span>
                </a>
            </li>

            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-th"></i> <span>采购</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Admin/Purchase/index.html"><i class="fa fa-circle-o"></i> 采购商品列表</a></li>
                    <li class=""><a href="/Admin/Purchase/shoppingCart.html"><i class="fa fa-circle-o"></i> 我的采购计划</a></li>
                    <li class=""><a href="/Admin/Purchase/shoppingList.html"><i class="fa fa-circle-o"></i> 我的采购单</a></li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-th"></i> <span>首页管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/carousel/index"><i class="fa fa-circle-o"></i> 轮播图管理</a></li>
                    <li><a href="/Admin/ShortcutMenu/index"><i class="fa fa-circle-o"></i> 图标栏目管理</a></li>
                    <li><a href="/Admin/Page/index"><i class="fa fa-circle-o"></i> 首页促销</a></li>
                    <li><a href="/Admin/Page/recommend"><i class="fa fa-circle-o"></i> 商品推荐</a></li>
                    <li><a href="/Admin/Search/index.html"><i class="fa fa-circle-o"></i> 搜索关键字</a></li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-th"></i> <span>微信设置</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/Admin/Weixin/index"><i class="fa fa-circle-o"></i> 微信消息模板</a></li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-th"></i> <span>短信设置</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/Admin/Letter/index"><i class="fa fa-circle-o"></i> 短信模板</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>商品管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/StoreCat/index.html"><i class="fa fa-circle-o"></i> 商品分类</a></li>
                    <li><a href="/Admin/StoreGoods/index.html"><i class="fa fa-circle-o"></i> 商品配置</a></li>
                    <li><a href="/Admin/StoreGoods/putaway.html"><i class="fa fa-circle-o"></i> 上架商品管理</a></li>
                    <li><a href="/Admin/Label/index.html"><i class="fa fa-circle-o"></i> 商品标签</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-edit"></i> <span>权限设置</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Rbac/user.html"><i class="fa fa-circle-o"></i> 账号</a></li>
                    <li><a href="/Admin/Rbac/role.html"><i class="fa fa-circle-o"></i> 角色</a></li>
                    <li><a href="/Admin/Rbac/menu.html"><i class="fa fa-circle-o"></i> 菜单</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> 物流配送</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-table"></i> <span>订单</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Orders/orderList.html"><i class="fa fa-circle-o"></i> 订单列表</a></li>
                </ul>
            </li>
            <!--<li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-calendar"></i> <span>统计</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Admin/Count/user.html"><i class="fa fa-circle-o"></i> 会员统计</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 订单销售统计</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 商品销售</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 物流统计</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 退款统计</a></li>
                </ul>
            </li>-->
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-envelope"></i> <span>营销</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a> 
                <ul class="treeview-menu">
                    <li class=""><a href="/Admin/DiscountCoupon/index.html"><i class="fa fa-circle-o"></i> 优惠券</a></li>
                    <li class=""><a href="/Admin/OrderPromotion/index.html"><i class="fa fa-circle-o"></i> 订单促销</a></li>
                    <li class=""><a href="/Admin/Promotion/group.html"><i class="fa fa-circle-o"></i> 组合促销</a></li>
                    <li class=""><a href="/Admin/Flashsales/index.html"><i class="fa fa-circle-o"></i> 限时抢购</a></li>
                    <li class=""><a href="/Admin/Giftcode/index.html"><i class="fa fa-circle-o"></i> 领券中心</a></li>
                    <!--<li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> 商品发现</a></li>-->
                </ul>                
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-envelope"></i> <span>活动专题</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a> 
                <ul class="treeview-menu">
                    <li class="active"><a href="/Admin/special/index.html"><i class="fa fa-circle-o"></i> 专题列表</a></li>
                    <li class=""><a href="/Admin/special/cart.html"><i class="fa fa-circle-o"></i> 专题商品包</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-envelope"></i> <span>店铺配置</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/Admin/freight/dlytmp.html"><i class="fa fa-circle-o"></i> 快递运费模板</a></li>
                    <li class=""><a href="/Admin/freight/dlyyctmp.html"><i class="fa fa-circle-o"></i> 店铺运费模板</a></li>
                    <li class=""><a href="/Admin/Dlycorp/dlycorp.html"><i class="fa fa-circle-o"></i>
                         物流公司</a></li>
                    <li class=""><a href="/Admin/Delivery/deliveryInfo.html"><i class="fa fa-circle-o"></i> 发货信息管理</a></li>
                    <li class=""><a href="/Admin/Delivery/printer.html"><i class="fa fa-circle-o"></i> 快递单模板</a></li>
                    <li class=""><a href="/Admin/Storesetup/index.html"><i class="fa fa-circle-o"></i> 店铺基础信息</a></li>
                    <li><a href="/Admin/StoreDot/index.html"><i class="fa fa-circle-o"></i> 自提点管理</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-folder"></i> <span>售后</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Admin/Refund/index/view/1.html"><i class="fa fa-circle-o"></i> 退款退货</a></li>
                    <li><a href="/Admin/MemberComplain/index.html"><i class="fa fa-circle-o"></i> 投诉</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:;">
                    <i class="fa fa-share"></i> <span>会员</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Admin/User/index.html"><i class="fa fa-circle-o"></i> 会员列表</a></li>
                    <li class=""><a href="/Admin/User/tempUser.html"><i class="fa fa-circle-o"></i> 游客列表</a></li>
                </ul>
            </li>
            <li class="header">备注</li>
            <li><a href="/Admin/Bills/index.html"><i class="fa fa-circle-o text-red"></i> <span>结算账单</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>