
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
</head>
<body>
<div class="login-container">
    <div class="mark-box">
        <span class="tit">cms 管理系统</span>
    </div>
    <div class="operate-box">
    	<form action="/admin/login/post" method="post">
            <span class="tit">用户名</span>
            <span class="minpad" style="height:5px;"></span>
            <input name="username" type="text" class="iptxt" placeholder="请输入用户名" />
            <span class="minpad"></span>
            <span class="tit">密码</span>
            <span class="minpad" style="height:5px;"></span>
            <input name="password" type="password" class="iptxt" />        
            <span class="minpad" style="height:45px;"></span>
            <input type="submit" class="submit" value="登录" />
        </form>
    </div>    
</div>
</body>
</html>